<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>tmf</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>tiles</servlet-name>
		<servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
		<init-param>
			<param-name>
				org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
        </param-name>
			<param-value>
				/WEB-INF/defs/definitions.xml,
        </param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>antwoord-service</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>antwoord-service</servlet-name>
		<url-pattern>/antwoordService/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>tmf</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>
			index.jsp
    </welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>org.springframework.web.multipart.MaxUploadSizeExceededException</exception-type>
		<location>/fileError.jsp</location>
	</error-page>
	
	<error-page>
	   <exception-type>java.lang.Throwable</exception-type>
	   <location>/error.htm</location>
	</error-page>
	
	<error-page>
        <error-code>401</error-code>
        <location>/error-401.htm</location>
    </error-page>
    <error-page>
        <error-code>402</error-code>
        <location>/error-402.htm</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error-403.htm</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error-404.htm</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error-405.htm</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>
        <location>/error-406.htm</location>
    </error-page>
    <error-page>
        <error-code>407</error-code>
        <location>/error-407.htm</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>
        <location>/error-408.htm</location>
    </error-page>
    <error-page>
        <error-code>409</error-code>
        <location>/error-409.htm</location>
    </error-page>
    <error-page>
        <error-code>410</error-code>
        <location>/error-410.htm</location>
    </error-page>
    <error-page>
        <error-code>411</error-code>
        <location>/error-411.htm</location>
    </error-page>
    <error-page>
        <error-code>412</error-code>
        <location>/error-412.htm</location>
    </error-page>
    <error-page>
        <error-code>413</error-code>
        <location>/error-413.htm</location>
    </error-page>
    <error-page>
        <error-code>414</error-code>
        <location>/error-414.htm</location>
    </error-page>
    <error-page>
        <error-code>415</error-code>
        <location>/error-415.htm</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error-500.htm</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/error-501.htm</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/error-502.htm</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/error-503.htm</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/error-504.htm</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/error-505.htm</location>
    </error-page>
		
	<filter> 
		<filter-name>charsetFilter</filter-name> 
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
		<init-param> 
			<param-name>encoding</param-name> 
			<param-value>UTF-8</param-value> 
		</init-param> 
	</filter> 
	
	<filter-mapping> 
		<filter-name>charsetFilter</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping> 

</web-app>
