#menu {
	position: absolute;
	width: 100%;
	top: 145px;
	left: 0px;
	background-color: #7d6a55;
	height: 30px;
}
#menu ul {
	margin: 0;
	list-style: none;
    	padding: 0px 0px 0px 15px !important;
}
#menu ul .first {
	float: left;
	border-right: dotted 1px #FFFFFF;
	height: 30px;
}

#menu ul .last {
	float: right;
	border-left: dotted 1px #FFFFFF;
	height: 30px;
	width:15px;
}

#menu ul .item , #menu ul .current, #menu ul .help{
	height: 30px;
	font-size: 1.1em;
	text-align: center;
	width: 137px;
	position: relative;
	z-index: 999;
	line-height: 30px;
}
#menu ul .help{
	border-right: dotted 1px #FFFFFF;
	float: right;
	display:block;
	height:30px;
	right:15px;
}
#menu ul .current{
	border-right: dotted 1px #FFFFFF;
	display:block;
	float: left;
	background-color:#c7c1b9;
	height:30px;
}
#menu ul .item {
	border-right: dotted 1px #FFFFFF;
	display:block;
	float: left;
	height:30px;
}

#menu ul .item a  ,#menu ul .current a, #menu ul .help a{
	display:block;
	text-decoration: none;
	color:#FFFFFF;
	font-weight: bold;
}